<strong>Inputs:</strong>
<ul>
<li>Files:
<ul>
<%%-params[:interface_userfile_ids].each do |id|-%>
  <li><%%= link_to_userfile_if_accessible(id)-%></li>
<%%-end-%>
</ul>
</li>
<li>Parameters:
<ul>
<%-@inputs.each do |input|-%>
<%-if input.get_type == "String"-%>
<li><strong><%= input.get_name-%>:</strong>
<%%= params[:<%= input.get_name%>].to_s-%>
</li>
<%-end-%>
<%-end-%>
</ul>
</li>
<li>Flags:
<%-@inputs.each do |input|-%>
<%-if input.get_type == "Flag"-%>
<%=input.get_command_line_flag%> 
<%-end-%>
<%-end-%>
</li>
</ul>

<strong>Output:</strong>
<ul>
<%-@outputs.each do |output|-%>
<li><%=output.get_name-%>:
<ul>
  <li><%%= link_to_userfile_if_accessible(params[:<%=output.get_name%>])-%></li>
</ul>
</li>
</ul>
<%-end-%>
