<strong>Input files selected:</strong>
<ul>
  <%% params[:interface_userfile_ids].each do |id| %>
  <li><%%= link_to_userfile_if_accessible(id) %></li>
  <%% end %>
</ul>
<%-@inputs.each do |input|-%>
<%-if input.get_type == "String"-%>
<p>
<strong><%= input.get_name %>:</strong>
<%%= form.params_text_field :<%= input.get_name%> %></br>
<%= input.get_documentation %>
</p>
<%-end-%>
<%-if input.get_type == "Flag"-%>
<p>
<strong><%= input.get_name %>:</strong>
<%%= form.params_check_box :<%= input.get_name%> %></br>
<%= input.get_documentation %>
</p>
<%-end-%>
<%-end-%>
